header{
    background-image: url(../img/header.jpg);
    background-position-x: center;
    background-position-y: center;

}
nav{
    background-color: #000000ac;
}
.mapouter, .gmap_canvas {
    max-width: 100%;
}

.gmap_canvas iframe {
    height: 100%;
    width: 100%;
}