@font-face {
    font-family: Courgette;
    src: url(../fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
ul{
    display: flex;
    list-style-type: none;
    font-family: Oswald;
}
header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}
header > img{
    justify-content: center;
}
body{
    font-family: Courgette;
    color: black;
}
p{
    font-family: Oswald;
}
.collapse{
    justify-content: end;
}
.logo{
    color: white;
}
img{
    height: 150px;
}
.title{
    font-family: Oswald;
}
.logo{
    padding-top: 8em;
    justify-content: center;
}