header{
    background-image: url(../img/team/team.jpg);
    background-position-y: center;
    background-position-x: center;

}
nav{
    background-color: #000000ac;
}
body{
    font-family: Courgette;
}
.header-content{
    height: 25rem;
    background-color: #000000ac;
}
.collapse{
    justify-content: end;
}
img{
    max-height: 10em;
}
.text-header{
    font-family: Courgette;
}
p{
    font-family: Oswald;
}